/* ESTILO GERAL */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} /* Reset pra não ficar borda branca */

body{
    background-color: #000000;
    height: 100vh;
} /* Fundo preto */

.interface{
    max-width: 1280px;
    margin: 0 auto;
} 

.logo{
    width: 100px;
    height: 100px;
} /* arrumar o tamanho do gato */

.logo:hover {
    transform: scaleX(-1);
} /* gato virando */

img {
    max-width: 100%;
}/* fix de bug */

.flex{
    display: flex;
}

.botao button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e2d081;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO DO HEADER */


header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #777777;
    text-decoration: none;

    display: inline-block; /*Fix do transform*/
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

header .botao button:hover{
    box-shadow: 0px 0px 8px rgb(224, 213, 53);
}


/* ESTILO DA MAIN (HOMEPAGE) */

section .homepage{
    padding: 40px 4%;
}

section .homepage .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.homepage h1{
    color: #fff;
    font-size: 60px;
    line-height: 50px;
}

.homepage .esquerdo h1 span{
    color: #e2d081;
    font-size: 120px;
}

.homepage .esquerdo p{
    color: #fff;
    margin: 40px 0;
}

.homepage .esquerdo button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgb(224, 213, 53);
}

.homepage .direito img{
    width: 500px;
    height: 400x;
    cursor: pointer;
}

.homepage .direito img:hover{
    transform: scaleX(-1);
}

.homepage .direito img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* ESTILO DA MAIN ( ESPECIALIDADES ) */


.especialidades{
    color: #fff;
    font-size: 40px;
    line-height: 50px;
}

.especialidades .cards{
    padding: 30px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.especialidades .card{
    padding: 40px 40px;
    color: #fff;
    border-radius: 30px;
}

.especialidades .card:hover{
    border: 1px solid #e5e5e5;
}

.especialidades .card p{
    font-size: small;
    width: 300px;
    line-height: 20px;
}


/* ESTILO DA MAIN (SOBRE) */

.sobre .esquerdo1 img{
    margin: 50px;
    border-radius: 70%;
}

.sobre .direito1{
    color: #fff;
    margin: 50px;
    padding: 40px 40px;
    gap: 16px;
}

.sobre .direito1 p{
    margin-top: 16px;
}


/* ESTILO DA MAIN (PROJETOS) */

.projetos{
    color: #fff;
    text-align: center;
}

.projetos h3{
    font-size: 120px;
}

