/* GERAL */

:root{
    --cor-primaria: #e2d081;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} /* Reset pra não ficar borda branca */

body{
    background-color: #000000;
    height: 100vh;
} /* Fundo preto */

.interface{
    max-width: 1280px;
    margin: 0 auto;
} 

.logo{
    width: 100px;
    height: 100px;
} /* arrumar o tamanho do gato */

.logo:hover {
    transform: scaleX(-1);
} /* gato virando */

img {
    max-width: 100%;
}/* fix de bug */

.flex{
    display: flex;
}

.botao button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--cor-primaria);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


/* HEADER */


header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #777777;
    text-decoration: none;

    display: inline-block; /*Fix do transform*/
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

header .botao button:hover{
    box-shadow: 0px 0px 8px rgb(224, 213, 53);
}


/* HOMEPAGE */


section .homepage{
    padding: 40px 4%;
}

section .homepage .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.homepage h1{
    color: #fff;
    font-size: 60px;
    line-height: 50px;
}

.homepage .esquerdo h1 span{
    color: #e2d081;
    font-size: 120px;
}

.homepage .esquerdo p{
    color: #fff;
    margin: 40px 0;
}

.homepage .esquerdo button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgb(224, 213, 53);
}

.homepage .direito img{
    width: 500px;
    height: 400x;
    cursor: pointer;
}

.homepage .direito img:hover{
    transform: scaleX(-1);
}

.homepage .direito img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* ESPECIALIDADES */


.especialidades{
    color: #fff;
    font-size: 40px;
    line-height: 50px;
}

.especialidades span{
    color: #e2d081;
    font-size: 120px;
}

.especialidades .cards{
    padding: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.especialidades .card{
    padding: 40px 40px;
    color: #fff;
    border-radius: 30px;

    transition: .2s;
}

.especialidades .card:hover{
    box-shadow: 0 0 8px #ffffff6c;
    cursor: pointer;
    transform: scale(1.05);
}

.especialidades .card p{
    font-size: small;
    width: 300px;
    line-height: 20px;
}


/* SOBRE */


.sobre .esquerdo1 img{
    margin: 50px;
    border-radius: 70%;
}

.sobre .direito1{
    color: #fff;
    margin: 50px;
    padding: 40px 40px;
    gap: 16px;
}

.sobre .direito1 p{
    margin-top: 16px;
}







.fadeout {
    position: relative;
    width: 300px;
}

.fadeout img {
    width: 100%;
    border-radius: 70%;

    position: absolute;
    top: 0;
    left: 0;
    
    transition: opacity 0.4s ease;
}

/* imagem de baixo (inicial) */
.gatu1 {
    opacity: 1;
}

/* imagem escondida */
.gatu2 {
    opacity: 0;
}

/* quando passar o mouse */
.fadeout:hover .gatu1 {
    opacity: 0;
}

.fadeout:hover .gatu2 {
    opacity: 1;
}


/* PROJETOS */

section.projetos{
    padding: 80px 4%;
}

section.projetos .flex{
    justify-content: space-around;
}


.projetos{
    color: #fff;
    text-align: center;
}

.projetos h3{
    font-size: 120px;
    margin-top: 20px;
}

.painel{
    width: 360px;
    height: 460px;
    border-radius: 40px;

    background-size: cover;
    background-position: 100% 0%;

    transition: 5s;
    cursor: pointer;

    position: relative;
}

.painel:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* FORMULARIO */

section.formulario{
    color: #fff;
    text-align: center;
    padding: 80px 4%;
}

.formulario h1{
    margin-bottom: 20px;
}

.formulario h1 span{
    color: #e2d081;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

form input, form textarea{
    width: 100%;
    background-color: #66636367;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

    border: 0;
    outline: 0;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .botaof{
    margin-top: 20px;
}

form .botaof input{
    width: 120px;
    text-align: center;
    background-color: #e2d081;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    
    transition: .2s;
}

form .botaof input:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgb(224, 213, 53);
}

/* RODAPÉ */

.logoL{
    width: 100px;
    height: 100px;
 }

.logoL:hover{
    transform: scaleX(-1) scale(1.05);

}

.linhacima{
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.redesocial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.linha-divisoria{
    width: 100%;
    height: 2px;
    background-color: #e2d081; 
    margin: 20px 0;
}

.email{
    display: flex;
    align-items: center;
    gap: 10px;
}

.linhabaixo a{
    color: #fff;
    text-decoration: none;
}

.linhabaixo{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.assinatura{
    font-family: "Ballet";
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.fa-instagram{
    color: #fff;
    size: 120px;
}